<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/indexStyle.css">
    </link>
    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="icon" href="/images/config/favicon.png" type="image/x-icon">

    <title>Diario digital</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navegacion position-relative">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <!-- Izquierda -->
                <ul class="navbar-nav">
                    <% if (diary) { %>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="/rutinas/mis-rutinas">
                                <img src="/images/pictos/rutinas.png" alt="Rutinas" class="img-fluid navegacion-icono">
                                <p class="card-title texto-boton">RUTINAS</p>
                            </a>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link text-center" href="/diario">
                                    <img src="/images/config/libro.png" alt="Diario digital"
                                        class="nav-icon img-fluid navegacion-icono">
                                    <p class="card-title texto-boton">DIARIO</p>
                                </a>
                            </li>
                            <% } %>
                </ul>

                <!-- Derecha -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-center" href="/users/logout">
                            <img src="/images/config/salir.png" alt="Salir" class="img-fluid navegacion-icono">
                            <p class="card-title texto-boton">SALIR</p>
                        </a>
                    </li>
                </ul>

                <!-- Usuario centrado sin dropdown -->
                <div class="position-absolute top-50 start-50 translate-middle texto-perfil">
                    <%= usuario %>
                </div>
            </div>
        </div>
    </nav>

</body>