<head>
    <link rel="icon" href="/images/config/favicon.png" type="image/x-icon">
</head>
    <body>
        <%- include("navbarTEA") %>

        <div class="container" id="conjuntoRutinas">
            <div class="row mt-3 justify-content-center align-items-center">
                <h3 class="text-center mb-5">Mis rutinas</h3>
                <% if (rutinas.length> 0) { %>
                    <% rutinas.forEach(function(item) { %>
                        <div class="col-md-3 col-xs-3 mb-5">
                            <div class="card">
                                <a href="/rutinas/mis-rutinas/<%= item.id %>">
                                    <div class="card-body">
                                        <img src="<%=item.enlace%>">
                                    </div>
                                    <h5 class="card-title text-center">
                                        <%= item.nombre %>
                                    </h5>
                                </a>
                            </div>
                        </div>
                        <% }); %>
                            <% } else { %>

                                <span class="text-center mt-5">No tienes rutinas.</span>


            </div>
            <% } %>
        </div>
        </div>
    </body>